<h1>School Class Form</h1>

<%= form_for @singleclass do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br></br>
  <br></br>

  <%= f.label :room_number %>
  <%= f.number_field :room_number %>

  <%= f.submit %>

  <% end %>
